@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'SF Ironsides'; /* Name for the font */
    src: url('/font/SF_Ironsides.ttf') format('truetype'); /* Path to the font */
    font-weight: normal; /* Define the weight */
    font-style: normal; /* Define the style */
}

.footer {
    background: #0d0a18;
    /* height: 501px; */
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.left_helobean {
    position: absolute;
    bottom: 89px;
    left: -40px;
    /* z-index: -1; */
}
.right_helobean {
    position: absolute;
    bottom: 79px;
    right: -46px;
    /* z-index: -0; */
}
.footer_upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    padding-top: 52px;
    gap: 40px;
}

.footer_logo {
    width: 394.55px;
    height: 225.764px;
    flex-shrink: 0;
    fill: rgba(45, 45, 45, 0);

    stroke-width: 1.108px;
    stroke: #e73d01;

    backdrop-filter: blur(1.3388530015945435px);
}

.social_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 212;
  height: 112; */
}

.social_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.social_logo_container > a > img {
    cursor: pointer;
}
.social_logo_container > a > img:hover {
    filter: drop-shadow(2px 2px 2px #a49acb);
}

.footer_address {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23.092px;
    font-weight: 800;
    line-height: 150%; /* 34.638px */
    z-index: 1;
    /* width: 395px;
  height: 140px; */
}
.footer_middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_nav {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 1;
}

.four_fingure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer_nav > .four_fingure > a {
    all: unset;
    cursor: pointer;
    /* font-style: ; */
}
.footer_nav > .four_fingure > a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}
.footer_nav > .four_fingure > a > h3 {
    color: #fff;

    font-family: 'SF Ironsides';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
}

.line_section {
    width: 100%;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    margin-block: 20px;
    /* margin: auto; */
}

.footer_lower {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer_lower > h4 > a {
    all: unset;
}

.footer_lower > h4 {
    color: #fff;

    font-family: 'SF Ironsides';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    text-underline-offset: 4px;
}
.footer_lower > h4:hover {
    text-decoration: underline;
}
@media screen and (max-width: 1200px) {
    .footer_upper {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 950px) {
    .footer_address {
        text-align: center;
    }
    .four_fingure {
        flex-direction: column;
        margin-block: 20px;
    }
}
@media screen and (max-width: 800px) {
    .footer_upper > div:first-child > img {
        width: 100%;
    }
    .social_logo {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 15px;
    }
    .social_logo_container {
        flex-direction: row;
        gap: 15px;
    }
}

@media screen and (max-width: 400px) {
    .social_logo {
        /* flex-direction: row; */
        gap: 1px;
    }
    .social_logo_container {
        /* flex-direction: row; */
        gap: 1px;
    }

    .social_logo_container > img {
        width: 57px;
        height: 40px;
    }
    .footer_upper > div > img {
        width: 300px;
        height: 190px;
    }
    .footer_lower {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 500px) {
    .footer_upper > div:first-child {
        z-index: 1;
    }
    .right_helobean {
        /* position: absolute; */
        top: -63px;
        right: -14px;
        width: 158px;
    }
}
